<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <!-- style -->
  {{ bootstrap.load_css() }}
</head>
<body>
  <div class="jumbotron jumbotron-fluid text-sm-center p-a-2">
    <h1 class="display-5 p-a-2 m-t-2">view on <a href="https://github.com/superiorkid">GitHub</a></h1>
  </div>
  
  
  {% block content %}
    
  {% endblock content %}

  {{ bootstrap.load_js() }}
  <script src="{{ url_for('static',filename='style.js') }}"></script>


</body>
</html>