{% extends 'base.html' %}

{% block content %}
<div class="container">

	<div class="row mt-3 mb-2">
		 <div class="col">
				<h1>.torrent to magnet</h1>
				<p id="input-group-description">easiest to convert .torrent file to magnet url</p>
		 </div> <!-- .col -->
	</div> <!-- .row -->
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">  
		{% for message in messages %}
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		{% endfor %}
	</div>
	{% endif %}
{% endwith %}

	<div class="row mb-4">
		 <div class="col">
				<form action="/" method="post" enctype="multipart/form-data">
					 <div class="form-group">							
							<div class="input-group">
								<div class="input-group-prepend">
									<input type="submit" value="Convert">
								</div>
								 <div class="custom-file">
										<input name="file" type="file" class="custom-file-input" id="input-file" aria-describedby="input-group-description">
										<label class="custom-file-label" for="input-file">.torrent file extension</label>
								 </div> <!-- .custom-file -->
							</div> <!-- .input-group -->

					 </div> <!-- .form-group -->              
				</form>

		 </div> <!-- .col -->
	</div> <!-- .row -->

	
	{% if filename and magnet %}

	<div class="row">
		<div class="col">
				<table class="table table-stripped">
						<thead>
								<tr>
										<th>{{ filename }}</th>
										<th>Action</th>
																			
								</tr>
						</thead>
						<tbody>
								<tr>
										<td>{{ magnet }}</td>
										<td>Copy</td>
								</tr>
						</tbody>
				</table>
		</div> <!-- .col -->
</div> <!-- .row -->   
		
	{% endif %}
		
	 
	 
	
</div> <!-- container -->
{% endblock content %}
  